[
{
    "name": "alliant-local",
    "username": "notifi_ws",
    "password": "",
    "url": "http://localhost:8080/notifi/rest/"
  },
  {
    "name": "alliant-dev",
    "username": "iFactor",
    "password": "",
    "url": "https://alliant-dev.ifactornotifi.com/notifi/rest/"
  },
  {
    "name": "alliant-test",
    "username": "notifi_ws",
    "password": "",
    "url": "https://alliant-test.ifactornotifi.com/notifi/rest/"
    },
    {
    "name": "alliant-prod",
    "username": "notifi_ws",
    "password": "",
    "url": "https://alliant.ifactornotifi.com/notifi/rest/"
    }
]
