<!-- NOTE: preference change template is omitted here as these alerts are disabled -->

<CONTACT_AUTO_PAUSED>
    Alliant Energy: We believe we are sending you too many messages. Your alerts for this device have been auto-paused until {{jodaDateTime PausedUntil 'MM/dd h:mm a'}}. Text RESUME to resume alerts.
</CONTACT_AUTO_PAUSED>


<!-- Same as two-way's POSTING_ACCEPT_TERMS_COND except this one is initiated by the Preference GUI / Profile V3 / Profile V4 -->
<POSTING_CONTACT_CONFIRMATION_REQUIRED>
    Alliant Energy: Reply Y to accept alert terms & conditions at bit.ly/2wTvkJU. Std msg & data rates apply. STOP to cancel. HELP for help.
</POSTING_CONTACT_CONFIRMATION_REQUIRED>

<!-- NOTE this matches POSTING_ACCOUNT_REGISTERED -->
<POSTING_CONTACT_CONFIRMED>
    Alliant Energy: Thank you for registering this device for account beginning in $ACCOUNT_NBR_FIRST_FOUR$. You are now registered to receive alerts for which you are eligible. Reply HELP for help or STOP to cancel alerts.
</POSTING_CONTACT_CONFIRMED>

<!-- NOTE this roughly matches POSTING_CONTACT_CONFIRMED and POSTING_ACCOUNT_REGISTERED -->
<POSTING_REGISTRATION_AFFIRMATION>
    Alliant Energy: Thank you for registering this device for account beginning in {{{ fmtAccountFirstFour Article.number }}}. You are now registered to receive alerts for which you are eligible. Reply HELP for help or STOP to cancel alerts.
</POSTING_REGISTRATION_AFFIRMATION>