<GlobalVariables env="alliant-local alliant-dev alliant-test alliant-prod">

    <g_my_account_link>http://alliantenergy.com/MyAccount</g_my_account_link>
    <g_my_account_link_text>alliantenergy.com/My Account</g_my_account_link_text>

    <g_outage_map_link>https://alliantenergy.com/outage</g_outage_map_link>

    <g_phone_number_full>1-800-ALLIANT (1-800-255-4268)</g_phone_number_full>

    <g_alliant_outage_link>https://alliantenergy.com/outage</g_alliant_outage_link>
    <g_alliant_outage_link_text>alliantenergy.com/outage</g_alliant_outage_link_text>

    <g_resume_link>https://www.alliantenergy.com/More/ProactiveAccountAlerts/Resumednotifications</g_resume_link>

    <g_confirmation_link>https://www.alliantenergy.com/More/ProactiveAccountAlerts/subscribedtonotifications</g_confirmation_link>
    <g_terms_conditions_link>https://www.alliantenergy.com/More/ProactiveAccountAlerts/proactiveaccountalertstermsandconditions</g_terms_conditions_link>
    <g_unsubscribe_link>https://www.alliantenergy.com/More/ProactiveAccountAlerts/SorryToSeeYouGo</g_unsubscribe_link>
    <!-- intentional global variable that contains a new line, see POSTING_STATUS_KNOWN_OUTAGE for use-->
    <g_new_line>


    </g_new_line>
</GlobalVariables>

<GlobalVariables env="alliant-local alliant-dev alliant-test">
	<g_email_content_location>https://s3.amazonaws.com/notifi-alliant-test/templates/images/</g_email_content_location>
</GlobalVariables>

<GlobalVariables env="alliant-prod">
	<g_email_content_location>https://s3.amazonaws.com/notifi-alliant-prod/templates/images/</g_email_content_location>
</GlobalVariables>


